*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    background: #303D56;
}

.container {
    height: 466px;
    width: 280px;
    background: #F1F3F6;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    height: 25%;
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;    
    box-shadow:
        inset 6px 6px 10px rgba(210, 213, 215, 0.8),   /* dark bottom-right */
        inset -6px -6px 10px rgba(255, 255, 255, 0.9); /* light top-left */
}
.box {
    width: 86%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

button{
    background: #F1F3F6;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    border: none;
    box-shadow:
        4px 4px 8px rgba(210, 213, 215, 0.8),     /* dark */
        -4px -4px 8px rgba(255, 255, 255, 0.9);   /* light */
    display: flex;
    justify-content: center;
    align-items: center;

}

.text1 {
    color: #283345;
    font-size: 17px;
    font-weight: 700;
}
.text2 {
    color: #787F8B;
    font-size: 17px;
    font-weight: 700;
}

.place {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.place p {
    font-size: 12px;
    font-weight: 700;
}
.toggle {
    width: 38px;
    height: 20px;
    border-radius: 20px;
    background: #D5DBE3;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    /* Neumorphic outer */
    box-shadow:
        inset 4px 4px 8px rgba(210, 213, 215, 0.9),
        -4px -4px 8px rgba(255, 255, 255, 0.9);
}

.dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #048A81;
    transition: 0.3s ease-in-out;

    /* Inner highlight */
    box-shadow:
        inset 2px 2px 4px rgba(0,0,0,0.2),
        inset -2px -2px 4px rgba(255,255,255,0.5);
}

/* WHEN ACTIVE (toggle ON) */
.toggle.active {
    background: #048A81;
    justify-content: flex-end;
}

.toggle.active .dot {
    background: #fff;
}

.green {
    background-color: #048A81;
    color: white;
    font-size: 17px;
}

.box .bigBtn {
    grid-column: span 2;
}

.point {
    font-size: 5px;
    color: #283345;
}